<div class="card">
    <h3 class="card-header">Login</h3>
    <form action="/public/js/login.js" id="login" class="card-body"></form>
        <label class="form-label" for="username">Username</label>
        <input id="username-login" class="form-input" type="text"/>
        <label class="form-label" for="password">Password</label>
        <input id="password-login" class="form-input" type="password"/>

        <button type="submit" class="button">Login</button>
        <a class="login-link" href="/public/js/signup.js">Sign Up</a>
</div>

<script src="/public/js/login.js"></script>