<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="login" class="card-body">
        <label class="form-label" for="username">Username</label>
        <input id="username-login" class="form-input" type="text"/>
        <label class="form-label" for="password">Password</label>
        <input id="password-login" class="form-input" type="password"/>

        <button type="submit" class="button" id="loginButton">Login</button>
        <a class="login-link" href="/sign-up">Sign Up</a>
    </form>
</div>

<script src="/js/login.js"></script>